@use "../abstracts/variables" as *;

/*  Hero (Index) */
.hero {
    position: relative;
    color: $c-bg;
    background: url("../img/hero.webp") center 35%/cover no-repeat;
    padding: 200px 12px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 100%);
        z-index: 1;
    }

    h1 {
        font-size: clamp(24px, 3vw, 36px);
        margin: 0 0 $space-5 0;
    }

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .btn-blanco {
        margin-top: $space-5;
        box-shadow: $shadow-subtle;
    }
}

.hero-text {
    position: relative;
    max-width: 600px;
    animation: fadeInUp 1s ease-out forwards;
    z-index: 2; // Asegura que el texto esté por encima del gradiente
}
