@use "../abstracts/variables" as *;

/*  Hero (Index) */
.hero {
    position: relative;
    color: #fff;
    background: url("../img/hero.webp") center/cover no-repeat;
    padding: 160px 12px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, .35);
    }

    h1 {
        font-size: clamp(24px, 3vw, 36px) !important;
        margin: 0 0 var(--space-2) 0;
    }

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Botón blanco específico */
    .btn {
        background-color: #fff;
        color: $brand;
        border-color: #fff;
        margin-top: $space-5;
        text-shadow: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #f1f8e9;
            color: $brand-dark;
            border-color: #f1f8e9;
        }
    }
}

.hero-text {
    position: relative;
    max-width: 600px;
    animation: fadeInUp 1s ease-out forwards;
}