@use "../abstracts/variables" as *;

/*  Hero (Index) */
.hero {
    position: relative;
    color: #fff;
    background: url("../img/hero.webp") center 35%/cover no-repeat;
    padding: 200px 12px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        // Gradiente: negro oscuro a la izquierda, transparente a la derecha
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.1) 100%);
        z-index: 1;
    }

    h1 {
        font-size: clamp(24px, 3vw, 36px);
        margin: 0 0 $space-5 0;
    }

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Botón blanco específico */
    .btn {
        background-color: #fff;
        color: $brand;
        border-color: #fff;
        margin-top: $space-5;
        text-shadow: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: var(--c-bg-beige);
            color: $brand-dark;
            border-color: var(--c-bg-beige);
        }
    }
}

.hero-text {
    position: relative;
    max-width: 600px;
    animation: fadeInUp 1s ease-out forwards;
    z-index: 2; // Asegura que el texto esté por encima del gradiente
}