@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/animations" as *;


/*  Cómo comprar – pasos numerados */
.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: $space-4;
    margin-top: $space-3;

    .step {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-2;
        position: relative;
        padding: $space-4;

        /* Flechas */
        &::after {
            content: "\2B07\FE0E";
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            color: $brand;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: 1;
        }

        /* Ocultar flecha en el último elemento */
        &:last-child::after {
            content: none;
        }

        /* Icono */
        .ico {
            width: 64px;
            height: 64px;
            margin: 0 auto 10px;
            @include flex-center;
        }

        &:hover .ico {
            animation: softPulse .6s ease-in-out;
        }

        /* Desktop: Flecha a la derecha */
        @include respond(md) {
            &::after {
                content: "\27A1\FE0E";
                bottom: auto;
                left: auto;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
            }
        }
    }
}

.steps-cta {
    margin-top: $space-3;
}